{# Load the tag library #}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify e-mail</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            background-color: #98bce3;
        }
        #main {
            width: 600px;
            margin: 40px auto;
            background-color: #fff;
            padding: 40px;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div id="main">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block main %}
    {% endblock %}
    </div>
</body>
</html>